{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="dashboard-container" 
     data-users="{{ users_count }}" 
     data-devices="{{ devices_count }}"
     data-success="{{ success_count }}"
     data-failed="{{ failed_count }}"
     data-events="{{ events|tojson|safe }}">
    <div id="kpi-users" class="dashboard-cell"></div>
    <div id="kpi-devices" class="dashboard-cell"></div>
    <div id="success-chart" class="dashboard-cell"></div>
    <div id="failed-chart" class="dashboard-cell"></div>
    <div id="events-grid"></div>
    <div id="events-table" class="dashboard-cell"></div>
</div>
{% endblock %}
