{% extends 'base.html' %}

{% block title %}Devices{% endblock %}

{% block content %}
<div class="container mx-auto mt-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Devices</h1>
        <a href="{{ url_for('add_device') }}" class="btn btn-primary rounded-full"><i class="fas fa-laptop-medical mr-2"></i>Add Device</a>
    </div>
    <table class="min-w-full bg-white shadow-md rounded my-6">
        <thead>
            <tr>
                {% if session['role'] == 'admin' %}
                <th class="py-2 px-4 bg-gray-200">User</th>
                {% else %}
                <th class="py-2 px-4 bg-gray-200">ID</th>
                {% endif %}
                <th class="py-2 px-4 bg-gray-200">Name</th>
                <th class="py-2 px-4 bg-gray-200">IP Address</th>
                <th class="py-2 px-4 bg-gray-200">MAC Address</th>
                <th class="py-2 px-4 bg-gray-200">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                {% if session['role'] == 'admin' %}
                <td class="border px-4 py-2">{{ device.owner_username }}</td>
                {% else %}
                <td class="border px-4 py-2">{{ device.id }}</td>
                {% endif %}
                <td class="border px-4 py-2">{{ device.device_name }}</td>
                <td class="border px-4 py-2">{{ device.ip_address }}</td>
                <td class="border px-4 py-2">{{ device.mac_address }}</td>
                <td class="border px-4 py-2">
                    <form action="{{ url_for('start_device', device_id=device.id) }}" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-success rounded-full">
                            <i class="fas fa-play mr-2"></i>
                            Start
                        </button>
                    </form>
                    <a href="{{ url_for('edit_device', device_id=device.id) }}" class="btn btn-warning rounded-full">
                        <i class="fas fa-edit mr-2"></i>
                        Edit
                    </a>
                    <form action="{{ url_for('delete_device', device_id=device.id) }}" method="POST" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-error rounded-full">
                            <i class="fas fa-trash mr-2"></i>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
