{% extends 'base.html' %}

{% block title %}Devices{% endblock %}

{% block content %}
<h1>Devices</h1>
<a href="{{ url_for('add_device') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Device</a>
<table class="table table-striped">
    <thead>
        <tr>
            {% if session['role'] == 'admin' %}
            <th>User</th>
            {% else %}
            <th>ID</th>
            {% endif %}
            <th>Name</th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            {% if session['role'] == 'admin' %}
            <td>{{ device.owner_username }}</td>
            {% else %}
            <td>{{ device.id }}</td>
            {% endif %}
            <td>{{ device.device_name }}</td>
            <td>{{ device.ip_address }}</td>
            <td>{{ device.mac_address }}</td>
            <td>
                <form action="{{ url_for('start_device', device_id=device.id) }}" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-success"><i class="bi bi-play-circle"></i> Start</button>
                </form>
                <a href="{{ url_for('edit_device', device_id=device.id) }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                <form action="{{ url_for('delete_device', device_id=device.id) }}" method="POST" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle"></i> Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
