<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">WoL Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Home</a></li>
                {% if session['role'] == 'admin' %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('users') }}">Users</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('devices') }}">Devices</a></li>
            </ul>
            <div class="d-flex">
                <a href="{{ url_for('profile') }}" class="btn btn-light me-2">Profile</a>
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</nav>
